.mari {
    color: goldenrod;
    font-size: 20px;
    font-weight: bold;
}

.search-wrap {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 500px;
    margin: 0 20px;
}

.form {
    flex: 1;
    height: 38px;
    padding-left: 10px;
    border-radius: 6px 0 0 6px;
    border: 1px solid #d0d7e2;
    outline: none;
    box-sizing: border-box;
}

.search-btn {
    height: 40px;
    padding: 0 20px;
    border: 1px solid goldenrod;
    background-color: goldenrod;
    color: #fff;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
    color: #fff;
    margin-right: 100px;
}

.nav-right a {
    color: #fff;
    text-decoration: none;
}